In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("quiz_04.ipynb")

# Quiz 4

## Instructions

1. After you answer a question, you should run its public tests.
1. After you answer every question, you should:
    1. Restart your kernel and clear all output
    1. Run up to the last cell
    1. Save your notebook
    1. Run the last cell to create a .zip file for Gradescope
    1. Upload this .zip file to Gradescope
    1. ***Make sure your Gradescope autograder results match your local autograder results***
1. This quiz has public and hidden tests:
    1. Public tests check your answers for correct types and shapes but may not completely check your answers
    1. Hidden tests completely check your answers but will not be available until after the due date
    1. *If all tests were public, you could quickly reverse-engineer incorrect answers that trick the autograder*
1. You may ask technical questions on Canvas Discussions, but this quiz is an individual effort.

## Packages and Settings

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

## Data

I used the following code to download and save the raw data you need for this quiz.
These are Yahoo! Finance daily data from 2011 through 2022 (inclusive).
***You should review the following code but not run it.***

In [3]:
# import yfinance as yf
# import pandas_datareader as pdr

# (
#     yf.Tickers(tickers=['AAPL', 'TSLA'])
#     .history(period='max', auto_adjust=False, progress=False)
#     .assign(Date = lambda x: x.index.tz_localize(None))
#     .set_index('Date')
#     .loc['2011':'2022']
#     .to_csv('yahoo.csv')
# )

I used the following code to load the raw data you need for this quiz.
***Run the following code as-is (i.e., do not change it).***

In [4]:
yahoo = (
    pd.read_csv(
        filepath_or_buffer='yahoo.csv',
        header=[0, 1],
        index_col=0, 
        parse_dates=True
    )
    .rename_axis(columns=['Variable', 'Ticker'])
)

yahoo.head()

Variable    Adj Close                Close           Dividends       \
Ticker           AAPL      TSLA       AAPL      TSLA      AAPL TSLA
Date
2011-01-03  10.017971  1.774667  11.770357  1.774667       0.0  0.0
2011-01-04  10.070251  1.778000  11.831786  1.778000       0.0  0.0
2011-01-05  10.152624  1.788667  11.928571  1.788667       0.0  0.0
2011-01-06  10.144423  1.858667  11.918929  1.858667       0.0  0.0
2011-01-07  10.217068  1.882667  12.004286  1.882667       0.0  0.0

Variable         High                  Low                 Open            \
Ticker           AAPL      TSLA       AAPL      TSLA       AAPL      TSLA
Date
2011-01-03  11.795000  1.800000  11.601429  1.726667  11.630000  1.789333
2011-01-04  11.875000  1.796667  11.719643  1.734667  11.872857  1.777333
2011-01-05  11.940714  1.793333  11.767857  1.746000  11.769643  1.765333
2011-01-06  11.973214  1.866667  11.889286  1.787333  11.954286  1.788667
2011-01-07  12.012500  1.905333  11.853571  1.860000  11.928214  1.866667

Variable   Stock Splits          Volume
Ticker             AAPL TSLA       AAPL        TSLA
Date
2011-01-03          0.0  0.0  445138400  19245000.0
2011-01-04          0.0  0.0  309080800  17811000.0
2011-01-05          0.0  0.0  255519600  21700500.0
2011-01-06          0.0  0.0  300428800  30918000.0
2011-01-07          0.0  0.0  311931200  33718500.0

## Questions

### Question 1

Calculate the decimal daily returns for AAPL and TSLA.
Add these return to data frame `yahoo` with outer index level name `Returns`.

_Points:_ 20

In [5]:
_ = pd.MultiIndex.from_product([['Returns'], yahoo['Adj Close']])
yahoo[_] = yahoo['Adj Close'].pct_change()

In [6]:
grader.check("q1")

q1 results: All test cases passed!
q1 - 1 message: yahoo has a column multi-index (+10 pts)
q1 - 2 message: yahoo has the expected column sums (+10 pts)

### Question 2

Calculate the monthly mean and standard deviation of returns for AAPL and TSLA from 2015 through 2022 (inclusive).
Assign this new data frame to `yahoo_m`.
Leave your means and standard deviations as daily decimal return values (i.e., do not annualize or convert to percent).

***Note: This question has 2 hidden tests worth 20 points.***

_Points:_ 40

In [7]:
yahoo_m = (
    yahoo.loc["2015":"2022"]["Returns"]
    .groupby(pd.Grouper(freq='M'))
    .agg(['mean','std'])
)

In [8]:
grader.check("q2")

q2 results: All test cases passed!
q2 - 1 message: yahoo_m has the shape (96, 4) (+10 pts)
q2 - 2 message: yahoo_m column multi-index has the correct levels (+10 pts)

### Question 3

<!-- BEGIN QUESTION -->

Create portfolio of AAPL and TSLA where $w_{AAPL} = \frac{1}{3}$ and $w_{TSLA} = \frac{2}{3}$.
Assign the daily decimal returns for this portfolio to series `yahoo_p`.
Calculate the total return on this portfolio from 2014 to 2022 (inclusive) and assign this value to `totret`.
Leave `totret` as a decimal return (i.e., do not convert it to percent).

***Note: This question has 2 hidden tests worth 20 points.***

_Points:_ 40

In [20]:
yahoo_p= yahoo["Returns"].dot([1/3,2/3])
totret = (yahoo_p["2014":"2022"].add(1).prod())-1
totret

12.408753257389012

In [ ]:
grader.check("q3")

<!-- END QUESTION -->

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False, run_tests=True)